body {
  overflow: hidden;
}

main {
  position: relative;
}

main p {line-height: 0.5em;}
  
main #message {
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 7em;
    top: 30%;
    left: 27%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
  }

main img {
  width: 100%;
  }

.sorry {
  color: black;
  font-weight: bold;
  top: 35%;
  left: 10%;
  font-size: 8em;
}